<%- include('../partials/header.ejs')%>

<h3>Edit comment for Drink:</h3>


	<form method="POST" action="/comment/<%= comment.id %>?_method=PUT">
		<fieldset>
			<label for="title">Title:</label>
			<input type="text" name="title" value="<%= comment.title%>">
		</fieldset>
		<fieldset>
			<label for="body">Review:</label>
			<textarea type="textbox" name="body"><%=comment.body%></textarea>
		</fieldset>
		<fieldset>
			<label for="rating">Rating:</label>
			<input type="number" name="rating" value="<%= comment.rating %>"> / 5
		</fieldset>
		<button class="editComment">Add Comment</button>
	</form>
	<form method="POST" action="/comment/<%=comment.id%>?_method=DELETE">
		<button class="editComment">Delete Comment</button>
	</form>


<%- include('../partials/footer.ejs')%>