<%- include(`../partials/header.ejs`)%>
<h1><%=drink.name%></h1>

<% if(drink.img){%>

	<img class="images" src="/drink/<%=drink.id%>/image/">
<%}%>
<ul >
	<li><strong>Description:</strong> <%=drink.description%></li>
	<li><strong>Date Drink was posted:</strong> <%=drink.posted.toLocaleString()%></li>
	<li><strong>Breweries that carry:</strong> AFTER MVP</li>
	<li><strong>Comments:</strong></li>
</ul>
		<%comment.forEach(comment => {%>
		<ul class="commentsUL">
			<li><strong>Posted by:</strong> Username here</li>
			<li><strong>Name of Comment:</strong> <%= comment.title%></li>
			<li><strong>Date Comment Posted:</strong> <%=comment.posted.toLocaleString()%></li>
			<li><strong>Rating:</strong> <%= comment.rating%> / 5</li>
			<li><strong>Review:</strong> <%= comment.body%></li>
		</ul>
		<%})%>

<div>
	<form action="/drink/<%= drink.id%>" method="POST" enctype="multipart/form-data">
		<label for="img"><strong>Upload Drink Image:</strong></label>
		<input type="file" name="img" id="img"/>
		<button class="buttons">Upload Image File</button>
	</form>
	
	<a class="linkButtons" href="/drink/<%=drink.id%>/edit">Edit Drink Info</a>
	<form method="POST" action="/drink/<%=drink.id%>?_method=DELETE">
		<button  class="buttons">Delete Drink</button>
	</form>
</div>
 

 


<%- include(`../partials/footer.ejs`)%>