<%- include(`../partials/header.ejs`)%>

<h3> <strong><%= drink.name %></strong> </h3>

<% if(drink.img){%>
	<img class="images" src="/drink/<%=drink.id%>/image/">
<%}%>




<div class="descriptionDiv">
		<p><strong>Description:</strong> <%= drink.description %></p>
		<p><strong>Available At:</strong> <%= drink.brewery.name%></p>
		<p><strong>Posted:</strong> <%= drink.posted.toLocaleString()%></p>
</div> 

<% if(loggedIn) {%>
<h5 class="sectionLabel">Add Your Review:</h5>
	<div id="addReview">
		<form method="POST" action="/comment/<%= drink.id %>" >
			<fieldset>
				<label for="title">Title:</label>
				<input type="text" name="title" placeholder="Enter Title">
			</fieldset>
			<fieldset id="textboxFieldset">
				<label for="body">Review:</label>
				<textarea type="textbox" name="body" placeholder="Enter Your Review"></textarea>
			</fieldset>
			<fieldset>
				<label for="rating">Rating:</label>
				<input type="number" name="rating" placeholder="out of 5"> / 5
			</fieldset>
			<button id="button">Add Comment</button>
		</form>
	</div>
	<%}%>
	<div class="commentsDiv">
		
		<h5 class="sectionLabel">Comments:</h5>

			<% comments.forEach(comment => { %>
			<ul class="commentsUL" >
				<li ><strong >Title:</strong> <%= comment.title %> </li>
				<li><strong>Rating:</strong> <%= comment.rating %> / 5</li>
				<li><strong>Comment:</strong> <%= comment.body %> </li>
				<li><strong>Posted By:</strong> <%= comment.user.username %></li>
				<li><strong><%= comment.posted.toLocaleString() %></strong> </li>	
			</ul>
		
			<%})%>
	</div>



<%- include(`../partials/footer.ejs`)%>