<%- include(`../partials/header.ejs`)%>

<h3> <%= drink.name %> </h3>

<div>
		<p><%= drink.description %></p>
		<p>Available At: <%= drink.brewery.name%></p>
		<p>Posted: <%= drink.posted.toLocaleString() %></p>
</div> 

<div>
	<h5>Comments:</h5>
	<ul>
		<li>comments here</li>
	</ul>
</div>


<%- include(`../partials/footer.ejs`)%>