<%- include(`../partials/header.ejs`)%>

<h3>Breweries:</h3>
<ul class="hide-bullets-UL">
	<% breweries.forEach(brewery => {%>
		<li class="li"> <a href="/general/<%= brewery.id %>"><%= brewery.name %>  </a>(<%= brewery.city %>,<%= brewery.state %>)</li>


	<%})%>

</ul>



<%- include(`../partials/footer.ejs`)%>