<%- include(`../partials/header.ejs`)%>

<h3>Breweries:</h3>
<ul class="hide-bullets-UL">
	<% breweries.forEach(brewery => {%>
		<li class="li"> <a href="/general/<%= brewery.id %>"><%= brewery.name %>  </a>(<%= brewery.city %>,<%= brewery.state %>)</li>
		<% if(brewery.img){%>

			<img class="images" src="/brewery/<%=brewery.id%>/image/">
		<%}%>


	<%})%>

</ul>



<%- include(`../partials/footer.ejs`)%>