<%- include('../partials/header.ejs')%>
<div class="sideBySide">
	
	<div class="infoDiv">
		
		<h1><strong><%=brewery.name%></strong></h1>

		<% if(brewery.img){%>

			<img class="images" src="/brewery/<%=brewery.id%>/image/">
		<%}%>
					
		<p><strong>Address:</strong> <%=brewery.address%>, <%=brewery.city %>, <%=brewery.state %>, <%=brewery.zipcode%>)</p>
	</div>

	<div class="buttonsDiv">
		<form action="/brewery/<%= brewery.id%>" method="POST" enctype="multipart/form-data">
			<label for="img"><strong>Upload Brewery Image:</strong></label>
			<input class="upload" type="file" name="img" id="img"/>
			<button class="buttons">Upload Image File</button>
		</form>





		<a class="linkButtons" href="/brewery/<%=brewery.id%>/edit">Edit Brewery Info</a>
		<form method="POST" action="/brewery/<%=brewery.id%>?_method=DELETE">
			<button class="buttons">Delete Brewery</button>
		</form>
	</div>
</div>
		
		
	


<h6 class="sectionLabel"><strong>Drinks:</strong></h6>
	
	<ul class="hide-bullets-UL">
		<%drinks.forEach(drink=>{%>
			<li class="li"><a href="/drink/<%=drink.id%>"><%=drink.name%></a></li>
		<%})%>
		
	</ul>

	<a class="linkButtons" href="/drink/new">Add a Drink</a>

<%- include('../partials/footer.ejs')%>