<%- include('../partials/header.ejs')%>
<h3><strong><%=brewery.name%></strong></h3>
<ul>

			
			<li>, (<%=brewery.city %>, <%=brewery.state %>)</li>
				<a href="">edit</a>
				<button>delete</button>
	
</ul>

<%- include('../partials/footer.ejs')%>