<%- include('../partials/header.ejs')%>
<h3><strong><%=brewery.name%></strong></h3>


			
<p>Address: <%=brewery.address%>, <%=brewery.city %>, <%=brewery.state %>, <%=brewery.zipcode%>)</p>

<form action="/brewery/<%= brewery.id%>" method="POST" enctype="multipart/form-data">
	<label for="img">Upload Brewery Image</label>
	<input type="file" name="img" id="img"/>
	<button>Upload Image File</button>
</form>



<!-- image here for test -->
<img src="/brewery/<%=brewery.id%>/image/">

<a href="/brewery/<%=brewery.id%>/edit">Edit Brewery Info</a>
<form method="POST" action="/brewery/<%=brewery.id%>?_method=DELETE">
	<button>delete</button>
</form>
		
		
	


<h5><strong>Drinks:</strong></h5>

	<ul>
		<%drinks.forEach(drink=>{%>
			<li><a href="/drink/<%=drink.id%>"><%=drink.name%></a></li>
		<%})%>
		
	</ul>
	<a href="/drink/new">Add a Drink</a>

<%- include('../partials/footer.ejs')%>